.MyBetsPage-table {
    border-radius: 10px;
    width: 65%;
    margin: auto;
    display: block;
    height: 350px;
    overflow-y: auto;
    color: slategrey;
  }

  .add-bet-form {
    margin: auto;
    width: 60%;
    color: black;
  }

  h3 {
    margin: auto;
    color: #eee;
  }

  .select-close-out {
    width: 70%;
  }
  .row {
    margin: auto;
    display: flex;
  }

  .login-msg {
    text-align: center;
  }

  table {
    color: slategrey;
  }