.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto;
}
.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:4%;
  font-size: 3vmin;
  color: var(--background);
}
h1 {
  text-align: center;
}
