body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.App {
  /* position: absolute;
  height: 100vh;
  width: 100vw; */
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  background-color: white;
}
.App-header {
  background-color: rgb(54, 58, 63);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3%;
  font-size: 3vmin;
  color: var(--background)
}


.footer {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5%;
  font-size: 3vmin;
  color: var(--background);
}

h1 {
  text-align: center;
}
